#editor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#toc {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #666;
  font-family: 'Helvetica', 'sans-serif';
  margin: 0;
  color: #fff;
  padding: 30px 50px;
  -webkit-column-count: 2;
  overflow: scroll;
}

#toc .selected, #toc a.puzzle.selected {
  font-weight: bold;
  color: yellow;
}

#toc a {
  text-decoration: none;
  color: #fff;
}

#toc a.puzzle {
  color: #AAA;
}

#toc a.puzzle:after {
  content: ', ';
}

#toc a.puzzle:last-child:after {
  content: '';
}

#toc.hidden {
  display: none;
}

li.parent {
  list-style-type: none;
  margin-bottom: 10px;
}

li.child {
  list-style-type: none;
}

#reset {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}
